{% set decimalCount = config("Tiervital.item.storeSpecial") %}

{{ component( "Tiervital::ItemList.Components.CategoryItem" ) }}

<script type="x/template" id="vue-container-item-list">
    <div>
        <div v-for="item in items" :key="item.data.variation.id" class="carousel-items">
            <category-item :item-data="item.data" decimal-count="{{ decimalCount }}" image-url-accessor="urlMiddle"></category-item>
        </div>
    </div>
</script>
