{{ component( "Tiervital::Containers.Components.ContainerItemList2" ) }}
{{ component( "Ceres::Containers.Components.LastSeenItemList" ) }}

{% set listType = config("Tiervital.item.lists." ~ itemListNo ~ ".list_type") %}
{% set tagIds = config("Tiervital.item.lists." ~ itemListNo ~ ".tag_ids") | split(",") %}
{% set tagSorting = config("Tiervital.item.lists.tag_sorting") %}
{% set isHome = services.template.isHome() %}

{% if listType == "cross_selling" %}
    {% set itemList = item.CrossSellingItems.documents %}
{% elseif listType == "tag_list" %}
    {% set itemList = services.itemList.getItemList( listType, tagIds ).documents %}
{% endif %}

<div class="row">
    {% if listType == "last_seen" %}
        <last-seen-item-list>
            <div slot="heading">
                {% if not isHome %}
                    <hr>
                {% endif %}

                {% include 'Tiervital::Containers.Partials.ItemLists.ItemListHeader2' with { itemListNo: itemListNo, listType: listType, isHome: isHome } %}
            </div>
        </last-seen-item-list>
    {% elseif itemList is not empty %}



      {% include 'Tiervital::Containers.Partials.ItemLists.ItemListHeader2' with { itemListNo: itemListNo, listType: listType, isHome: isHome } %}
        <container-item-list2 :items="{{ itemList | json_encode }}"></container-item-list2>
    {% endif %}
</div>
