{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "Tiervital::ItemList.Components.CategoryImageCarousel2") }}
{{ component( "Ceres::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "false" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

<script type="x/template" id="vue-category-item">
    <article class="cmp cmp-product-thumb cmp-product-thumb--grid fromItemList">
    <p>${itemData | json_encode }</p>
        <div class="thumb-inner">
            <div class="thumb-background"></div>
            <div class="thumb-image">
              <a :href="itemData | itemURL"></a>
              <span>${ item.images.all.urlPreview }</span>
                <span>${ item.images.urlPreview }</span>
                  <span>${ item.images.all }</span>
                    <span>${ itemData.images.all.urlPreview }</span>

            </div>

            <!-- ITEM DETAILS -->
            <div class="thumb-content">
                <div class="thumb-meta">
                    <div class="prices">
                        <div v-if="itemData.prices.rrp && itemData.prices.rrp.price.value > 0 && itemData.prices.rrp.price.value > itemData.prices.default.unitPrice.value" class="price-view-port">
                            <del class="crossprice">
                                ${ itemData.prices.rrp.price.formatted }
                            </del>
                        </div>

                        <div class="price">
                            ${ itemData.prices.default.unitPrice.formatted } *
                        </div>
                    </div>
                </div>

                <a :href="itemData | itemURL" class="thumb-title small">
                    ${ itemData | itemName }
                </a>
                <p class="shortDesc">${ itemData.texts.shortDescription }</p>
                <p>{{ trans("Tiervital::Template.ArtNr") }} ${ itemData.variation.number }</p>
            </div>
            <!-- ./ITEM DETAILS  -->
            <div class="btn-group-basket">
              <a :href="itemData | itemURL"><i class="fa fa-search"></i></a>
              <a class="btn" :href="itemData | itemURL">Details</a>
            </div>
        </div>
    </article>
</script>
