<script type="x/template" id="vue-category-image-carousel">
    <a :href="itemUrl">
        <div v-for="(imageUrl, index) in imageUrls">
            <img :src="imageUrl.url" :alt="getAltText(imageUrl)" :title="titleText">
        </div>
    </a>
</script>
